@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu&display=swap');
*{
    margin : 0; padding: 0;
    font-family: 'Poppins' ,'sans-serif' ;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw; 
  height: 100vh; 
  text-align: center;
}
.submit{
  padding:10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-color:transparent;
  cursor: pointer;
}
.header { 
  flex: 30%;
  background-color: tomato;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .inputContainer{
  display: flex;
  flex-direction: column;
}
.todoList {
  flex: 70%;
  width: 100%;
}